/* 全体 */
body {
	background-color: rgb(252, 255, 219);
	color: rgb(0, 0, 0);
	/* 背景色  */
	/*	text-align: center;  中央寄せ */
	min-width: 1000px;
	/* 最小幅 */
	
}



.memo {
	white-space: pre-wrap;
}

/* メイン */
main {
	background-color: #FFFFFF;
	min-height: 50px;
	padding: 20px;
}



/* 送信ボタン */
button {
	margin: 2px;
	padding: 5px 20px;
	background-color: rgb(87, 177, 78);
	color: #ffffff;
	border: none;
	width: 150px;
	cursor: pointer;
}

/* 送信ボタン(マウスオーバー時) */
button:hover {
	background-color: rgb(235, 153, 85);

}




.table-area {
	margin-bottom: 10px;
	padding: 20px 30px;
}


/* table */

.record-table {
 	margin-top: -20px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 18px;



}


/* 見出し */

.record-table thead th {

	background-color: rgb(251, 125, 0,.2);
	border-radius: 10px;
	color: rgb(47, 47, 47);
	font-size: 20px;
	font-weight: normal;

}

.record-table th {
	padding: 18px;
	color: #666;
	font-size: 15px;
	font-weight: 600;

}



/* 行 */

.record-table tbody tr {
	
	background-color: white;
	transition: 0.2s;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	font-size: 20px;

}

/* hover */

.record-table tbody tr:hover {
	transform: translateY(-2px);

}


/* セル */

.record-table td {
	margin-bottom: -10px;
	width: 20px;  /* 幅: 200px */
		 height: 40px; /* 高さ: 100px */
	padding: 25px 10px;
	text-align: center;

}

/* 左丸 */

.record-table tbody tr td:first-child {
	border-radius: 20px 0 0 20px;

}

/* 右丸 */

.record-table tbody tr td:last-child {
	border-radius: 0 20px 20px 0;

}




/* 更新ボタン */

.edit-btn {

	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: none;
	background-color: rgb(255, 128, 64);
	font-size: 30px;
	cursor: pointer;
	transition: 0.1s;

}

/* hover */

.edit-btn:hover {
	background-color: rgb(87, 177, 78);
	transform: scale(1.05);

}



/* 選択中 */

.active {
	color: rgb(255, 128, 0);
	font-weight: bold;

}


.btn {

	display: block;
	/* ブロック要素に変更 */
	margin: 0 0 0 auto;

	margin-bottom: 10px;
	/* 下方向に10px引き締める */
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn:hover {
	text-decoration: none;
	opacity: 0.8;
}




.container {
	margin-left: 30px;
	margin-right: 40%; /* これでボタンを右端に押し出す */
	max-width: 800px;
margin-top: -260px;
	background: white;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}





/* 日付 */

.date-area {
	margin-bottom: 35px;
}

.date-area label {
	display: block;
	font-size: 25px;
	color: rgb(87, 177, 78);
	margin-bottom: 15px;
	font-weight: bold;
}




.date-area input {
	margin-bottom: -30px;
	width: 200px;
	padding: 18px;
	border-radius: 18px;
	border: 1px solid #d9dfd9;
	font-size: 20px;
	background: white;
}

.date-area .form-control:focus {
	outline: none;
	border-color: rgb(255, 177, 100);
	box-shadow: 0 0 0 3px rgb(255, 177, 100);
}



/* タイトル */

.title-area {
	
	width: 775px;
	height: 40px;
	margin-top: 40px;
	margin-left: 30px;
	background: rgb(87, 177, 78,.4);
	color: rgb(255, 255, 255);
	padding: 18px 32px;
	border-radius: 20px;
	font-size: 30px;
	font-weight: bold;
	box-shadow: 0 2px 10px rgb(255, 255, 255);
}

/* グリッド */

.balance-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0px;
}

/* 各項目 */

.item h3 {
	margin-top: 20px;
	font-size: 22px;
	margin-bottom: 18px;
	color: rgb(255, 128, 64);
}

.item select {
	width: 60%;
	padding: 14px;
	border-radius: 18px;
	border: 1px solid #d9dfd9;
	font-size: 20px;
	background: white;
}

.item p {
	color: #666;
	font-size: 15px;
	line-height: 1.8;
}

.item .form-control:focus {
	outline: none;
	border-color: rgb(255, 177, 100);
	box-shadow: 0 0 0 3px rgb(255, 177, 100);
}

/* 説明 */

.info-box {
	margin-top: 40px;
	background: #f5f8f5;
	border-radius: 20px;
	padding: 30px;
	color: #5f865f;
	line-height: 2;
	font-size: 18px;
}

/* メモ */

.memo-area {
	margin-top: 45px;
}

.memo-area label {
	display: block;
	font-size: 28px;
	color: rgb(87, 177, 78);
	margin-bottom: 18px;
	font-weight: bold;
}

.memo-area textarea {
	width: 100%;
	height: 180px;
	border-radius: 20px;
	border: 1px solid #d9dfd9;
	padding: 24px;
	font-size: 18px;
	background: #fcfcfc;
	resize: none;
	box-sizing: border-box;
	line-height: 1.8;
}

.memo-area .form-control:focus {
	outline: none;
	border-color: rgb(255, 177, 100);
	box-shadow: 0 0 0 3px rgb(255, 177, 100);
}



 .btn-login {
	margin-top: 20px;
	margin-left: 42%;
	width: 15%;
	padding: 12px;
	background: linear-gradient(rgb(87, 177, 78), rgb(87, 177, 78));
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-login:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 25px #A8DBA8;
}



 img {
	position: absolute;
	margin-left: 59% ;
	margin-top: -50px;
  width: 560px;  /* 横幅を300pxに指定 */
  height: auto; /* 高さは自動計算（縦横比を維持） */
}

.eiyo {
	
	width: 430px;
	height: 30px;
	background: rgb(255, 255, 255);
	padding: 9%;
	border-radius: 20px;
	margin-bottom: 40px;
	margin-top: -82px;
	margin-left: 55% ;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.memoran h3{
	border-bottom: 3px dashed rgb(255, 128, 64);
	font-size: 20px;
	color:rgb(255, 128, 64)
}

.memoran p{
	
	font-size: 15px;
		font-weight: bold;
}

.memoran {
	
	width: 675px;
	height: 555px;
	margin-top: -575px;
	margin-left: 55%;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 10px 32px;
	border-radius: 20px;
	
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.forgot-password {
	text-align: center;
	margin-top: 1rem;
}

 .forgot-password a {
	color: rgb(255, 128, 0);
	text-decoration: none;
	font-size: 18px;
}

.forgot-password a:hover {
	text-decoration: underline;

}



/* フッター */

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:

        0 -2px 10px rgba(0,0,0,0.05);

}


.date-box label {
	display: block;
	font-size: 25px;
	color: rgb(87, 177, 78);
	margin-bottom: 15px;
	font-weight: bold;
}




.date-box input {
	margin-top: 40px;
	margin-left: 35px;
	margin-bottom: -30px;
	width: 200px;
	padding: 15px;
	border-radius: 50px;
	border: 1px solid #d9dfd9;
	font-size: 18px;
	background: white;
}

.date-box :focus {
	outline: none;
	border-color: rgb(255, 177, 100);
	box-shadow: 0 0 0 3px rgb(255, 177, 100);
}


.btn-add {
	margin-top: 15px;
	margin-bottom: -30px;
	margin-left: 15px;
	width: 5%;
	padding: 8px;
	background: linear-gradient(rgb(255, 128, 64), rgb(255, 128, 64));
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 30px;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-add:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 25px rgb(255, 255, 255);
}



