<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>更新</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>

	<form th:action="@{/dishes/{id}/edit(id=${result.id})}" method="post">

		<div class="title-box">
			登録内容を変更する

		</div>
		
		<div class="balance">
		<img src="https://www.maff.go.jp/j/balance_guide/img/kihon_syoku.jpg" alt="拡大画像" >
						</div>	
						
		<div class="container">

		
			<th>登録ID</th>
			<td th:text="${result.id}"></td>

			<div class="date-area">
				<label>日付</label>
				<input  class="form-control"  type="date" name="recordDate" th:value="${result.recordDate}">
			</div>

			<div class="balance-grid">

				<div class="item">
					<h3>主食</h3>

					<select name="stapleFood" class="form-control" required>

						<option>--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i}+'つ(SV)'"
							th:selected="${i == result.stapleFood}">
						</option>
					</select>

				</div>


				<div class="item">
					<h3>副菜</h3>

					<select name="sideDish" class="form-control" required>
						<option>--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i}+'つ(SV)'"
							th:selected="${i == result.sideDish}">
						</option>
					</select>
				</div>

				<div class="item">
					<h3>主菜</h3>
					<select name="mainDish" class="form-control" required>
						<option>--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i}+'つ(SV)'"
							th:selected="${i == result.mainDish}">
						</option>
					</select>
				</div>


				<div class="item">
					<h3>乳・乳製品</h3>

					<select name="milkDish" class="form-control" required>
						<option>--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i}+'つ(SV)'"
							th:selected="${i == result.milkDish}">
						</option>
					</select>
				</div>

				<div class="item">
					<h3>果物</h3>
					<select name="fruitCount" class="form-control" required>
						<option>--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i}+'つ(SV)'"
							th:selected="${i == result.fruitCount}">
						</option>
					</select>

				</div>
			</div>

			<div class="memo-area">

				<label>メモ</label>
				<textarea class="form-control" name="detailMemo" placeholder="詳細" th:text="${result.detailMemo}"></textarea>
			</div>
		</div>



		<button type="submit" class="btn-login">更新</button>
	</form>
	<footer th:replace="~{footer}"></footer>
</body>

</html>