<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>登録内容一覧</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{header}"></header>
<!--	<h2>📖登録内容一覧</h2>-->

<div class="date-box">
	<form action="/dishes/result" method="get">
			<input type="date" name="recordDate">
			
			<button class="btn-add">検索</button>
		</form>
</div>
		
	<div class="table-area">
		

		<table class="record-table">
			<thead>
				<tr>
					<th>日付</th>
					<th>主食</th>
					<th>副菜</th>
					<th>主菜</th>
					<th>乳・乳製品</th>
					<th>果物</th>
					<th>メモ</th>
					<th>採点</th>
					<th>編集</th>
					<th>削除</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="record:${resultList}">
					<td th:text="${record.recordDate}"></td>
					<td>
						<span th:text="${record.stapleFood}"></span><br>
						<span th:text="${record.stapleFood >= 5 && record.stapleFood <= 7 ? '〇' : '✕'} "></span>
					</td>

					<td>

						<span th:text="${record.sideDish}"></span><br>
						<span th:text="${record.sideDish >= 5 && record.stapleFood <= 6 ? '〇' : '✕'} "></span>
					</td>

					<td>
						<span th:text="${record.mainDish}"></span><br>
						<span th:text="${record.mainDish >= 3 && record.stapleFood <= 5 ? '〇' : '✕'} "></span>
					</td>

					<td>
						<span th:text="${record.milkDish}"></span><br>
						<span th:text="${record.milkDish == 2  ? '〇' : '✕'} "></span>
					</td>

					<td>
						<span th:text="${record.fruitCount}"></span><br>
						<span th:text="${record.fruitCount ==2 ? '〇' : '✕'} "></span>
					</td>



					<td th:text="${record.detailMemo}" class="memo"></td>
					<td th:text="${record.achievement}"></td>

					 <td>
						<form th:action="@{/dishes/{id}/edit(id=${record.id})}" method="get">
							<button type="submit" class="edit-btn">✎</button>
						</form>
					</td>
					<td>
						<form th:action="@{/dishes/{id}/delete(id=${record.id})}" method="post">
							<button type="submit" class="edit-btn">×</button>
						</form>
					</td>

				</tr>
			</tbody>
		</table>
		 
	</div>

	<form action="/dishes/add" method="get">
		<button class="btn-login">登録画面へ</button>
	</form>

</body>

<footer th:replace="~{footer}"></footer>

</html>