<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン画面</title>
	<link rel="stylesheet" href="/css/style2.css">
</head>

<body>
	<header th:replace="~{header}"></header>
	<div class="login">
		<h2>ログイン画面</h2>


		<form action="/login" method="post">

			<div class="form-group">
				<label for="email" class="form-label">メールアドレス</label>
				<input type="text" name="email" class="form-control" placeholder="your@email.com" th:value="${email}" required>
			</div>

			<div class="form-group">
				<label for="password" class="form-label">パスワード</label>
				<input type="text" name="password" class="form-control" placeholder="パスワードを入力" th:value="${password}" required>
			</div>

			<a href="/dishes/result">
				<button class="btn-login">ログイン</button>
			</a>
			<div class="forgot-password">
				<a href="/users/add">新規会員登録はこちら</a>
			</div>
		</form>

	</div>

	<footer th:replace="~{footer}"></footer>
</body>

</html>