<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー登録</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>新規登録</h1>
	</header>
	<form action="/users/add" method="post">

		<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}"></li>
		</ul>
		
		<table border="1">

		<tr>
			<th>名前</th>
			<td>
				<input type="text" name="name" placeholder="名前" th:value="${name}">
			</td>
		</tr>

		<tr>
			<th>メールアドレス</th>
			<td>
				<input type="text" name="email" placeholder="メールアドレス" th:value="${email}">
			</td>
		</tr>

		<tr>
			<th>パスワード</th>
			<td>
				<input type="password" name="password" placeholder="パスワード" th:value="${password}">
			</td>
		</tr>

		<tr>
			<th>年齢</th>
			<td>
				<input type="number" name="age" placeholder="年齢" th:value="${age}">
			</td>
		</tr>

		<tr>
			<th>性別</th>
			<td><select name="gender">
					<option value="0">選択してください</option>
					<option value="1">男</option>
					<option value="2">女</option>
				</select>
				<br>
		</tr>
		</table>
		<button>登録</button>
		</form>
		<a href="/login">戻る</a>

</body>

</html>